.App {
  text-align: center;
}

.block {
  width: 50%;
  float: left;
}

p {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
}

table {
  width: 80%;
  margin-left: 20px;
}
th {
  font-size: 20px;
  height: 30px;
}

thead>tr {
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 900px;
  overflow: auto;
}

.detail {
  height: 500px;
  width: 80%;
  border: 1px solid black;
}

.info {
  margin: 10px 10px 10px 10px;
  font-size: 20px;
}